.lead__title {
    color: #fff;
    margin: 0 auto 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    max-width: calc(100% - 264px);
    font-family: 'Inter';
    white-space: wrap;

}

@media screen and (max-width:1150px) {
    .lead__title {
        font-size: 50px;
    }
}



@media screen and (max-width:1024px) {
    .lead__title {
        max-width: calc(100% - 208px);
    }

}

@media screen and (max-width:768px) {
    .lead__title {
        max-width: calc(100% - 48px);

    }

}

@media screen and (max-width:620px) {
    .lead__title {
        font-size: 40px;
    }

}

@media screen and (max-width:320px) {
    .lead__title {
        max-width: calc(100% - 28px);
        line-height: 1.1;
        margin: 0 auto 32px;
        border: dashed blue;
    }

}